.source { display: none;}
.reveal .CodeMirror {
	font-size: 18px;
	line-height: 20px;
	box-shadow: none;
	min-height: 200px;
	width: 90%;
	margin: 15px auto;
}
.reveal .CodeMirror-short {
  min-height: 100px;
}

/*.reveal .CodeMirror-code { font-size: 24px;}*/
.reveal .CodeMirror-code pre { box-shadow: none;}
.reveal pre code { max-height: 300px; }